.footer {
    position: fixed;
    bottom: 0;
   background-color: rgb(145, 145, 145);
    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-size: 1.1rem;
    font-weight: 300;
    color: rgb(10, 10, 10);
}